@model IEnumerable<SavourOdessa.Areas.Admin.Models.Owners.OwnerListItemVIewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Owners</h1>

<p>
    <a asp-action="Create" class="normal-link">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usesysid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usesysid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurants)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Usesysid" class="delete-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
