@inject IJSRuntime JSRuntime

<canvas id="myCanvas" style="width:100vw;height:50vh;border:1px solid grey;">
    Your browser does not support the HTML canvas tag.
</canvas>


<h3>BookingTables Razor Component @RestaurantId</h3>
<div>
    <select name="tables" @bind="SelectedTableId">
        <option disabled selected value="-1">Select table</option>
        @foreach (Restauranttable table in Tables ?? new Restauranttable[] { })
        {
            <option value="@table.Tableid">
                @table.Tableid
            </option>
        }
    </select>
</div>



@if (SelectedTableId != -1)
{
    <input type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" value="@SelectedDate" @onchange="UpdateAvailableTime" />
    <div class="row">
        @foreach (var (time, available) in AvailableTime)
        {
            <div class="col">
                <button class="btn btn-outline-primary mb-2" disabled="@(!available)" style="border-color:#90D1CB;color:#90D1CB">@time.ToString("HH:mm")</button>
            </div>
        }
    </div>
}

<script>
    function updateValues(maxX, maxY, tableLocations) {
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");

        canvas.width = canvas.offsetWidth;
        canvas.height = canvas.offsetHeight;
        var xUnit = canvas.width / 2 / maxX;
        var yUnit = canvas.height / 2 / maxY;
        for(var i = 0; i < tableLocations.length; i++) {
            ctx.fillStyle = "#FF0000";
            ctx.fillRect(xUnit * (tableLocations[i][0]-1) + xUnit / 4,
                yUnit * (tableLocations[i][1] - 1) + yUnit / 4,
                xUnit * (tableLocations[i][0] - 1) + 3 * xUnit / 4,
                xUnit * (tableLocations[i][1] - 1) + 3 * xUnit / 4);
        })

        ctx.fillStyle = "#FF0000";
        ctx.fillRect(0, 0, xUnit, yUnit);
    }
</script>

@code {
    [Inject]
    public DataContext? Context { get; set; }

    [Parameter]
    public int RestaurantId { get; set; }

    public Restauranttable[]? Tables;
    public int[][] TableLocations{ get; set; }
    public double MaxX { get; set; } = 1;
    public double MaxY { get; set; } = 1;
    private int _selectedTableId = -1;
    public int SelectedTableId
    {
        get => _selectedTableId;
        set
        {
            _selectedTableId = value;
            UpdateAvailableTime();
        }
    }
    public string SelectedDate = DateTime.Now.ToString("yyyy-MM-dd");
    IEnumerable<(DateTime, bool)> AvailableTime = new (DateTime, bool)[] { };

    protected override void OnInitialized()
    {
        Tables = Context?.Restauranttables.Where(t => t.Restaurantid == RestaurantId).ToArray() ?? new Restauranttable[] { };
        int[][] tableLocations = new int[Tables.Length][];
        for (int i = 0; i < Tables.Length;i++)
        {
            MaxX = Math.Max(MaxX, Tables[i].Tablelocation.X);
            MaxY = Math.Max(MaxY, Tables[i].Tablelocation.Y);
            tableLocations[i] = new int[2];
            tableLocations[i][0] = (int)Tables[i].Tablelocation.X;
            tableLocations[i][1] = (int)Tables[i].Tablelocation.Y;
        }
        TableLocations = tableLocations;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateCanvas();
        }
    }

    public async Task UpdateCanvas()
    {
        await JSRuntime.InvokeVoidAsync("updateValues", MaxX, MaxY, TableLocations);
    }

    public void UpdateAvailableTime()
    {
        int tableId = SelectedTableId;
        DateTime date = DateTime.Parse(SelectedDate);
        var (start, end) = GetOpeningHours(date);
        Tablereservation[] tableReservations = Context?.Tablereservations.Where(r => r.Reservationtime.Date == date.Date && r.Tableid == tableId).ToArray() ?? new Tablereservation[] { };

        List<(DateTime, bool)> result = new List<(DateTime, bool)>();
        for (DateTime i = start; i < end; i = i.AddMinutes(15))
        {
            if (i < DateTime.Now)
            {
                result.Add((i, false));
            }
            else if (tableReservations.Any(r => r.Reservationtime <= i && i < r.Reservationtime + r.Duration))
            {
                result.Add((i, false));
            }
            else
                result.Add((i, true));
        }
        AvailableTime = result;
    }

    //TODO: create a stored procedure for this
    private (DateTime Start, DateTime End) GetOpeningHours(DateTime date)
    {
        DateTime start = DateTime.Now.Date.AddHours(6);
        DateTime end = DateTime.Now.Date.AddDays(1).AddHours(-1);
        return (start, end);
    }
}
