@model IEnumerable<ServiceLayer.RestaurantServices.RestaurantListDto>

@{
    ViewData["Title"] = "List";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/card.css">
    <link rel="stylesheet" type="text/css" href="~/css/star.css">
}
<div class="container">
    <main role="main" class="pb-3">

<ul class="cards">
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Restaurantid" class="card">
                <img src="@Url.Content(item.Photo)" class="card__image" alt="Restaurant Photo" />
                <div class="card__overlay">
                    <div class="card__header">
                        <div class="card__header-text">
                            <h3 class="card__title">@item.Restaurantname</h3>

                            <span class="card__status checked">@item.AverageRating.ToString("0.00")</span>
                            @for (int i = 0; i < (int)item.AverageRating; i++)
                            {
                                <span class="card__status fa fa-star checked"></span>
                            }
                            @for (int i = (int)item.AverageRating; i < 5; i++)
                            {
                                <span class="card__status fa fa-star"></span>
                            }
                        </div>
                    </div>
                    <p class="card__description">@item.Address</p>
                </div>
            </a>

        </li>
    }
        </ul>
    </main>
</div>