@model IEnumerable<SavourOdessa.Areas.Manager.Models.Restaurants.RestaurantListItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurants</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RestaurantId" class="normal-link">Edit</a>
                    |
                    <a asp-action="Details" asp-route-id="@item.RestaurantId" class="normal-link">Orders</a>
                    |
                    <a asp-action="Stats" asp-route-id="@item.RestaurantId" class="normal-link">Stats</a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.RestaurantId" class="delete-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
